@import "bootstrap";


@include color-mode(dark) {
    $hover-bg-color: rgba($secondary, .1);
    $subtext-color: $gray-500;

    p, li, header h5 {
        color: $subtext-color;
    }

    .text-secondary {
        color: $subtext-color;
    }

    .card {
        background-color: transparent;
    }

    .hover-bg-color:hover {
        background-color: $hover-bg-color;
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }
}


@include color-mode(light) {
    $hover-bg-color: #DBE2EF;

    .card {
        background-color: transparent;
    }

    .hover-bg-color:hover {
        background-color: $hover-bg-color;
        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
}


html {
    scrollbar-gutter: stable;

    a {
        text-decoration: none;
    }

    body {
        height: 100%;
        padding-right:0px !important;
        margin-right:0px !important;
    }

    img.responsive {
        margin: 0;
        width: 100%;
        height: auto;
    }

    .badge:hover {
        cursor: pointer;
    }

    .card-link {
        &:hover {
            font-weight: 400;
        }
    }

    .font-size-pt85-rem {
        font-size: 0.85rem;
    }

    .list-group-item {
        background-color: transparent;
        color: $body-color;
    }

    #dark-theme-icon {
        color: rgba($secondary, .5);
        &:hover {
            color: rgba($warning, 1);
        }
    }

    #light-theme-icon {
        color: rgba($secondary, .5);
        &:hover {
            color: $dark;
        }
    }

    #theme-switcher {
        position: fixed;
        top: 15px;
        right: 15px;
    }
}

