@import "bootstrap";


$body-bg: #F9F7F7;
$body-color: #112D4E;

$hover-color: #DBE2EF;


html {
    scrollbar-gutter: stable;

    body {
        color: $body-color;
        height: 100%;
        padding-right:0px !important;
        margin-right:0px !important;
        background-color: $body-bg;
    }

    .card, .list-group-item {
        background-color: transparent;
        color: $body-color;

        &:hover {
            background-color: $hover-color;
        }
    }

    .hover:hover {
        background-color: $hover-color;
        cursor: pointer;
    }

    a {
        text-decoration: none;

        &:hover {
            color: $hover-color
        }
    }
}

