@import "bootstrap";


// $body-bg: #F9F7F7;
// $body-color: #112D4E;


// Color mode variables in _root.scss
@include color-mode(dark) {
    $dark-hover-color: rgba($secondary, .1);
    $dark-subtext-color: $gray-500; //$secondary;
    .card {
        background-color: transparent;
        &:hover {
            background-color: $dark-hover-color;
        }

        .card-body {
            p {
                color: $dark-subtext-color;
            }
        }

        .card-text {
            color: $dark-subtext-color
        }
    }

    p, li, header h5 {
        color: $dark-subtext-color;
    }
}


@include color-mode(light) {
    $light-hover-color: #DBE2EF;
    .card {
        background-color: transparent;
        &:hover {
            background-color: $light-hover-color;
        }
    }
}

html {
    scrollbar-gutter: stable;

    body {
        // color: $body-color;
        height: 100%;
        padding-right:0px !important;
        margin-right:0px !important;
        // background-color: $body-bg;
    }

    .active {
        font-weight: bold;
    }

    .badge:hover {
        cursor: pointer;
    }


    .list-group-item {
        background-color: transparent;
        color: $body-color;
    }

    .hover:hover {
        // background-color: $hover-color;
        cursor: pointer;
    }

    a {
        text-decoration: none;

        &:hover {
            font-weight: bold;
        }
    }

    .card-link {
        &:hover {
            font-weight: 400;
        }
    }

    img.responsive {
        margin: 0;
        width: 100%;
        height: auto;
    }
}

