{{ define "main" }}
  <h1 class="display-5">{{ .Title }}</h1>
  {{ range .Paginator.Pages }}
  <div class="row hover-bg-color rounded">
    <a href="{{ .RelPermalink }}" class="card-link p-2 pb-0">
      <div class="card mb-1 border-0">
        <div class="card-body">
          <h5 class="card-title">{{ .LinkTitle }}</h5>
          <p class="card-text">{{ .Summary | truncate 200 }}</p>
          {{ with .Params.Tags }}
              {{ range . }}
                  <span class="badge text-bg-primary rounded-pill">{{ . }}</span>
              {{ end }}
          {{ end }}
        </div>
      </div>
    </a>
  </div>
  {{ end }}
  {{ template "pagination.html" . }}
{{ end }}