{{ $padding := "p-3" }}
<div class="row hover-bg-color rounded">
    <div class="col-md-2 {{ $padding }} font-size-pt85-rem">
    {{ with .Params.employmentFrom }}
        {{ . }}
    {{ end }}
    -
    {{ with .Params.employmentTo }}
        {{ . }}
    {{ end }}
    </div>

    <div class="col-md-10">
        <div class="card mb-2 border-0 {{ $padding }}">
            <div class="card-body p-0">
            <h5 class="card-title">{{ .Params.employmentTitle }} · {{ .Params.company }}</h5>
            <p class="card-text">{{ .Content }}</p>
            {{ with .Params.Tags }}
                {{ range . }}
                    <span class="badge text-bg-primary rounded-pill">{{ . }}</span>
                {{ end }}
            {{ end }}
            </div>
        </div>
    </div>
</div>