{{ $padding := "p-3" }}
{{ $displayExperienceFavicons := false }}
{{ with .Site.Params.displayExperienceFavicons }}
    {{ $displayExperienceFavicons = . }}
{{ end }}
<div class="row hover-bg-color rounded">
    <div class="col-md-2 {{ $padding }} font-size-pt85-rem">
    {{ with .Params.jobStart }}
        {{ . }}
    {{ end }}
    -
    {{ with .Params.jobEnd }}
        {{ . }}
    {{ end }}
    </div>

    <div class="col-md-10">
        <div class="card mb-2 border-0 {{ $padding }}">
            <div class="card-body p-0">
                <h5 class="card-title">
                    <div class="align-middle">
                    {{ .Params.jobTitle }} · {{ .Params.company }}
                    {{ if $displayExperienceFavicons }}
                        {{ $favicon := "" }}
                        {{ with .Params.companyFavicon }}
                            {{ $favicon = . }}
                        {{ else }}
                            {{ if .Params.companyUrl }}
                            {{ $favicon = printf "%s/favicon.ico" .Params.companyUrl }}
                            {{ end }}
                        {{ end }}
                        {{ if $favicon }}
                            <img src="{{ $favicon }}" width="16" height="16" class="mb-1" />
                        {{ end }}
                    {{ end }}
                    </div>
                </h5>
                <p class="card-text">{{ .Content }}</p>
                {{ with .Params.Tags }}
                    {{ range . }}
                        <span class="badge text-bg-primary rounded-pill">{{ . }}</span>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>